<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <!-- Turning down the wiremock logging -->
  <logger name="com.github.tomakehurst.wiremock" level="WARN"/>
  <logger name="wiremock.org" level="ERROR"/>
  <logger name="WireMock" level="WARN"/>
  <!-- debug test context cache refresh -->
  <!--  <logger name="org.springframework.test.context.cache" level="DEBUG"/>-->

  <!-- wiremock has per endpoint servlet logging -->

</configuration>